body {
	background-color: #FFFFFF;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}

.calculator {
	border: 2px solid #181825;
	margin: 0;
	padding: 10px;
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	background-color: #45475a;
	border-radius: 10px;
}

.display {
	width: 490px;
	height: 150px;
	text-align: right;
	font-size: 90px;
}

.display,
.calc-buttons {
	background-color: #FFFFFF;
	border-radius: 10px;
}

.calc-buttons {
	width: 490px;
	height: 340px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.additionBtnRw,
.subtractionBtnRw,
.multiplicationBtnRw,
.divisionBtnRw,
.equalsBtnRw {
	box-sizing: border-box;
	width: 490px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 5px;
	padding: 10px;
	border-radius: 10px;
	flex: auto;
}

.btn {
	height: 55px;
	width: 100px;
	border-radius: 10px;
	margin-top: 5px;
	font-size: 24px;
	font-weight: bold;

}

.number {
	background-color: #a6e3a1;
}

.zero {
	width: 220px;
}

#clear {
	background-color: #f38ba8;
}

#equals-btn {
	background-color: #fab387;
}

.operator {
	background-color: #b4befe;
}

#delete {
	color: #cdd6f4;
	background-color: #11111b;
}

.special-operator {
	background-color: #f2cdcd;
}
