body {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	background-color: #1e1e2e;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculator {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 700px;
	width: 550px;
	margin: 100px;
	border: 5px solid #181825;
	background-color: #313244;
	border-radius: 60px;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}

.calcDisplay {
	width: 450px;
	height: 200px;
	border: 5px solid #6c7086;
	background-color: #7f849c;
	border-radius: 30px;
}

.btn {
	width: 80px;
	height: 80px;
	border-radius: 90px;
}

.divisionRow,
.multiplicationRow,
.subtractionRow,
.additionRow,
.equalsRow {
	display: flex;
	width: 400px;
	height: 70px;
	justify-content: space-between;
	align-items: center;
	border-radius: 90px;
}
