body {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculator {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 700px;
	width: 550px;
	margin: 100px;
	border: 5px solid orangered;
	border-radius: 60px;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}

.calcDisplay {
	width: 450px;
	height: 200px;
	border: 5px solid orangered;
	border-radius: 30px;
}
